# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# User-supplied disc dump
/game/

# Ghidra project (created by `ghidra-open`)
/ghidra-project/

# APM package cache
apm_modules/

# uv / Python
.venv/
__pycache__/
*.pyc

# User-supplied Psy-Q SDK (headers + libs)
/tools/psyq/
